@model BasicWebsiteTemplate.ViewModels.MemeViewModel
<script type="text/javascript">var switchTo5x = true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({ publisher: "700b1b6b-6108-4c6c-9ceb-8a503428ee10" });</script>



<div class="meme-container">

    <div class="meme-content meme-dimensions">
        <img class="imgMeme" src="@Model.FileVirtualPath" alt="" />
    </div>


    <div class="share_container">
        <div  id="@Model.FileNameWithoutExtension" class="share_content">

            <div class="share_url">
                <input type="text" name="shareLink" class="txtShareLink" value="@Model.ShareUrl" size="60" readonly="readonly" />
            </div>
            <div class="share_buttons">

                <span class='st_facebook_hcount share_this_link' displaytext='Facebook' st_url="@Model.ShareUrl"></span>
                <span class='st_fblike_hcount share_this_link' displaytext='Facebook Like' st_url="@Model.ShareUrl"></span>
                <span class='st_googleplus_hcount share_this_link' displaytext='Google +' st_url="@Model.ShareUrl"></span>
                <span class='st_twitter_hcount share_this_link' displaytext='Tweet' st_url="@Model.ShareUrl"></span>
                <span class='st_email_hcount share_this_link' displaytext='Email' st_url="@Model.ShareUrl"></span>

            </div>

            <div>
                @Html.HiddenFor(a => a.FileUrl)
                @Html.ActionLink("Download", "Download", Model, new { @class = "lnkDownload" })

            </div>
        </div>
    </div>
</div>
